link(rel="stylesheet" href="css/style-transactions.css")
title Detalles de cuenta
a(href='/HomePage') Home
a(href='/Cuentas') Cuentas
div
 h2=account.name
for transaction in transactions
 div
  hidden 
  h2=transaction.merchant
  li=transaction.amount
  li=transaction.currency
  li=transaction.createdAt
  li=transaction.reference
  li=transaction.category
  li=transaction.name
 
          