title transactions
a(href='/HomePage') Home
input(type=date id="test" name="fecha busqueda" value="2018-07-22" min="2018-01-01" max="2018-12-31")
for transaction in transactions
 div
 hidden 
 h2=transaction.merchant
 li=transaction.amount
 li=transaction.currency
 li=transaction.reference
 
          